/******* HEADER ******/
.header {
    padding-top:40px;
    position:relative;
}

.header__lead {
    font-size: var(--small);
    text-transform: uppercase;
    border-bottom:1px solid var(--brand-blue);
    padding-bottom:var(--spc-12);
    margin-right:76px;
    color:var(--grey-80);
}

.header h1 {
    padding-top: var(--spc-8);
}

.header h1::before {
    content:"";
    position:absolute;
    top:63px;
    left:40px;
    width:60px;
    border-top:4px solid var(--brand-blue);
}

.header__logo {
    position:absolute;
    top:40px;
    right:40px;
}

/******* FOOTER ******/
.footer {
    font-size: var(--small);
    text-transform: uppercase;
    color:var(--grey-80);
}

.footer__wrap {
    border-top: 1px solid var(--grey-40);
    padding-top: var(--spc-8);
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.footer__cap {
    text-align: center;
}
