 @import "reset.css";
 @import "theme.css";
 @import "grid.css";
 @import "header-footer.css";
 @import "tables.css";
 @import "typography.css";
 @import "toc.css";
 @import "sections.css";
 @import "charts.css";
 @import "cover.css";
 @import "overrides.css"; /* <- this file only to override a few rules for the full print */



 /* Core CSS here */
 
body {
    background: white;
    font-family: var(--sans-serif);
    font-size: var(--p-standard);
}
