h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
    font-weight: var(--fw-bold) !important;
}

h1, .h1 {
    font-size:var(--h1);
}

h2, .h2 {
    font-size: var(--h2);
}

h3, .h3 {
    font-size: var(--h3);
    color: black;
}

.fw-bold {
    font-weight: var(--fw-bold) !important;
}

.fw-normal {
    font-weight: var(--fw-normal) !important;
}

